body
{
	background: #abd1ff
}
h1
 {
  color:#7689de;
  background-color: #a9dce3;
  width: 300px;
  border-style: solid;
  border-color: black;
  padding: 50px;
  margin: 20px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size:50px;
  margin-bottom: 20px;
}
h2
{
  color:#7689de;                                
  background-color: #a9dce3;    
  width: 200px;
  border-style: solid;
  border-color: black;
  padding: 40px;
  margin: 20px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 20px;
}
h3
{
  color:#514644;
  background-color: #cedef0;
  border-style: solid;
  border-color: black;
  margin: auto;
  width: 115px;
  font-size: 20px;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  
  
}
p
{
  color:#514644;
  background-color: #efc8b1;
  width: 1000px;
  border-style: solid;
  border-color: black;
  padding: 40px;
  margin: 20px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}  

a
{
	color: blue;
}
img
{
	margin-top:20px;
	margin-bottom:10px
}


